<!DOCTYPE html>
<meta name="viewport" content="width=device-width" />
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/content/site.css">
    <link rel="stylesheet" type="text/css" href="/content/bootstrap.css">
</head>

<body>
    <div class="body-content">
        <div class="row" ng-app="pokedeck" ng-cloak>
            <div align="center" class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-centered">
                <form ng-submit="submitForm()" class="login-dp" ng-controller="registerCtrl">
                    <h1>POKEDECK</h1>
                    <h6 class="fonte-login-incorreto" ng-show="usuarioCadastrado">Usuário já cadastrado</h6>
                    <h6 class="fonte-login-incorreto" ng-show="senhasDifer">Senhas diferem</h6>
                    <div class="col-md-12 col-sm-12 col-lg-12 espacado">
                        <h4>Castrastro</h4>
                        <div class="form-group">
                            <label class="sr-only" for="user">Nome</label>
                            <input ng-model="form.user" class="form-control" id="user" placeholder="Nome" required>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="email">Email</label>
                            <input type="email" ng-model="form.email" class="form-control" id="email" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="password">Senha</label>
                            <input type="password" ng-model="form.password" class="form-control" id="password" placeholder="Senha" required>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="password">Senha</label>
                            <input type="password" ng-model="form.password1" class="form-control" id="password" placeholder="Confirme a Senha" required>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-lg-6 espacado">
                                    <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-6 espacado">
                                    <button type="button" ng-click="telaLogin()" class="btn btn-primary btn-block">Voltar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/scripts/jquery-1.10.2.js"></script>
    <script src="/scripts/modernizr-2.6.2.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    <script src="/scripts/respond.js"></script>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/paginas/register/register.js"></script>
</body>

</html>