<!DOCTYPE html>
<meta name="viewport" content="width=device-width" />
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/content/site.css">
    <link rel="stylesheet" type="text/css" href="/content/bootstrap.css">
</head>

<body>
    <div class="body-content">
        <div class="row" ng-app="pokedeck" ng-cloak>
            <div align="center" class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-centered">
                <form ng-submit="submitForm()" class="login-dp" ng-controller="loginCtrl">
                    <h1>POKEDECK</h1>
                    <h6 class="fonte-login-incorreto" ng-show="shown">Usuário ou senha inválidos</h6>
                    <div class="col-md-12 col-sm-12 col-lg-12 espacado">
                        <h4>Login</h4>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">Email</label>
                            <input type="email" ng-model="form.email" class="form-control" id="user" placeholder="Email ou Apelido" required>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2">Senha</label>
                            <input type="password" ng-model="form.password" class="form-control" id="password" placeholder="Senha" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </div>
                    </div>
                    <div class="bottom text-center">
                        <h5>Não tem cadastro ? <a href="/register"><b>Cadastre-se</b></a></h5>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/scripts/jquery-1.10.2.js"></script>
    <script src="/scripts/modernizr-2.6.2.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    <script src="/scripts/respond.js"></script>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/paginas/login/login.js"></script>
</body>

</html>