<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="../../content/site.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/content/bootstrap.css">

    <title>Random responsive pages - Home</title>
</head>

<body ng-app="pokedeck" ng-controller="homeCtrl" ng-cloak>

    <section id="page" class="container">

        <div class="row">

            <div class="logo col-sm-4 col-md-2 ">
            </div>

            <div class="menu col-sm-8 col-md-6 ">
                <nav class="nav nav-pills nav-fill">
                    <a class="nav-item nav-link active" href="index.html">Receitas</a>
                    <a class="nav-item nav-link" href="estoque.html">Inserir Receitas</a>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 col-xs-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Receitas</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">

            <div class="galeria col-sm-9">

                <div class="row">

                    <div class="col-lg-6" ng-repeat="card in user">
                        <div class="card">
                            <img class="img-fluid" src="https://picsum.photos/1920/1080/?random&1" alt="">
                            <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">Novo
                                    produto</span>
                            </div>
                            <div class="card-body">
                                <div class="news-title">
                                    <h2 class=" title-small"><a href="#">{{card.receita}}</a></h2>
                                </div>
                                <p class="card-text"><small class="text-time"><em>Por admin</em></small></p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>


        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Recipient:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Message:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send message</button>
                    </div>
                </div>
            </div>
        </div> -->


        <div class="row">

            <div class="rodape col-sm-12">
                Copyright 2019 - Todos os direitos reservados. Gustavo Militão
            </div>

        </div>
    </section>



    <script src="/scripts/modernizr-2.6.2.js"></script>
    <script src="/scripts/respond.js"></script>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/paginas/home/home.js"></script>

</body>

</html>