<!DOCTYPE html>
<meta name="viewport" content="width=device-width" />
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/content/site.css">
    <link rel="stylesheet" type="text/css" href="/content/bootstrap.css">
</head>

<body>
    <div class="body-content">
        <div class="row" ng-app="pokedeck" ng-cloak>
            <div align="center" class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-centered">
                <form class="login-dp" ng-controller="registerDoneCtrl">
                    <div class="col-md-12 col-sm-12 col-lg-12 espacado">
                        <h4>Usuário cadastrado com sucesso!</h4>
                        <h6>Você será redirecionado para a tela de login</h4>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/scripts/jquery-1.10.2.js"></script>
    <script src="/scripts/modernizr-2.6.2.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    <script src="/scripts/respond.js"></script>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/paginas/registerDone/registerDone.js"></script>
</body>

</html>